 <h2 style="text-align: center;">{{title}}</h2>
 <div class="row">
   <div class="col-md-12 d-flex justify-content-center bg-secondary p-5">
      <google-pay-button
      environment="TEST"
      buttonType="buy"
      buttonColor="black"
      [paymentRequest]="{
        apiVersion: 2,
        apiVersionMinor: 0,
        allowedPaymentMethods: [
          {
            type: 'CARD',
            parameters: {
              allowedAuthMethods: ['PAN_ONLY', 'CRYPTOGRAM_3DS'],
              allowedCardNetworks: ['AMEX', 'VISA', 'MASTERCARD']
            },
            tokenizationSpecification: {
              type: 'PAYMENT_GATEWAY',
              parameters: {
                gateway: 'example',
                gatewayMerchantId: 'exampleGatewayMerchantId'
              }
            }
          }
        ],
        merchantInfo: {
          merchantId: '12345678901234567890',
          merchantName: 'Demo Merchant'
        },
        transactionInfo: {
          totalPriceStatus: 'FINAL',
          totalPriceLabel: 'Total',
          totalPrice: '100.00',
          currencyCode: 'USD',
          countryCode: 'US'
        }
      }"
      (loadpaymentdata)="onLoadPaymentData($event)"
     ></google-pay-button>
   </div>
 </div>

<router-outlet></router-outlet>
